In [2]:
import pymongo

# Creating a Database
To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.

MongoDB will create the database if it does not exist, and make a connection to it.

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["my"]

Important: In MongoDB, a database is not created until it gets content!

MongoDB waits until you have created a collection (table), with at least one document (record) before it actually creates the database (and collection).

# Check if Database Exists
Remember: In MongoDB, a database is not created until it gets content, so if this is your first time creating a database, you should complete the next two chapters (create collection and create document) before you check if the database exists!

You can check if a database exist by listing all databases in you system:

In [4]:
print(myclient.list_database_names())

['Pavandb', 'admin', 'config', 'local', 'mydata', 'mydatabase']

# Python MongoDB Create Collection
A collection in MongoDB is the same as a table in SQL databases.

# Creating a Collection
To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

MongoDB will create the collection if it does not exist.

In [6]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["my"]

mycol = mydb["customers"]

Important: In MongoDB, a collection is not created until it gets content!

MongoDB waits until you have inserted a document before it actually creates the collection.

# Check if Collection Exists
Remember: In MongoDB, a collection is not created until it gets content, so if this is your first time creating a collection, you should complete the next chapter (create document) before you check if the collection exists!

You can check if a collection exist in a database by listing all collections:

In [7]:
print(mydb.list_collection_names())

[]

# Python MongoDB Insert Document
A document in MongoDB is the same as a record in SQL databases.

# Insert Into Collection
To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [8]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["my"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

# Return the _id Field
The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.

In [34]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)
 
print(x.inserted_id)

5d0b5450a691f85097f05eba

# Insert Multiple Documents
To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [19]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5d0b360ca691f85097f05ea1'), ObjectId('5d0b360ca691f85097f05ea2'), ObjectId('5d0b360ca691f85097f05ea3'), ObjectId('5d0b360ca691f85097f05ea4'), ObjectId('5d0b360ca691f85097f05ea5'), ObjectId('5d0b360ca691f85097f05ea6'), ObjectId('5d0b360ca691f85097f05ea7'), ObjectId('5d0b360ca691f85097f05ea8'), ObjectId('5d0b360ca691f85097f05ea9'), ObjectId('5d0b360ca691f85097f05eaa'), ObjectId('5d0b360ca691f85097f05eab'), ObjectId('5d0b360ca691f85097f05eac')]

# Python MongoDB Find
In MongoDB we use the find and findOne methods to find data in a collection.

Just like the SELECT statement is used to find data in a table in a MySQL database.

In [20]:
#Find the first document in the customers collection:

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('5d0921ced8e8944e7feb6715'), 'name': 'John', 'address': 'Highway 37'}

In [21]:
#Return all documents in the "customers" collection, and print each document:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find():
  print(x)

{'_id': ObjectId('5d0921ced8e8944e7feb6715'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b32e4ea2fc73a3b472e79'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b32f6ea2fc73a3b472e7e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b330ca691f85097f05e98'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b3542a691f85097f05e99'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d0b357ba691f85097f05e9d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b3580a691f85097f05e9e'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d0b360ca691f85097f05ea1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d0b360ca691f85097f05ea2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d0b360ca691f85097f05ea3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d0b360ca691f85097f05ea4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d0b360ca691f85097f05ea5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d0b360ca691f85097f05ea6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d0b360ca691f85097f05ea7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d0b360ca691f85097f05ea8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d0b360ca691f85097f05ea9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d0b360ca691f85097f05eaa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d0b360ca691f85097f05eab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d0b360ca691f85097f05eac'), 'name': 'Viola', 'address': 'Sideway 1633'}

# Return Only Some Fields
The second parameter of the find() method is an object describing which fields to include in the result.

This parameter is optional, and if omitted, all fields will be included in the result.
#Return only the names and addresses, not the _ids:

In [22]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

# Python MongoDB Query
Filter the Result
When finding documents in a collection, you can filter the result by using a query object.

The first argument of the find() method is a query object, and is used to limit the search.

In [23]:
#Find document(s) with the address "Park Lane 38":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5d0b360ca691f85097f05ea9'), 'name': 'Ben', 'address': 'Park Lane 38'}

# Sort the Result
Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction)

In [24]:
#Sort the result alphabetically by name:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('5d0b360ca691f85097f05ea1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d0b360ca691f85097f05ea9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d0b360ca691f85097f05ea5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d0b360ca691f85097f05eab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d0b360ca691f85097f05ea2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d0921ced8e8944e7feb6715'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b32e4ea2fc73a3b472e79'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b32f6ea2fc73a3b472e7e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b330ca691f85097f05e98'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b357ba691f85097f05e9d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b360ca691f85097f05ea3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d0b3542a691f85097f05e99'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d0b3580a691f85097f05e9e'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d0b360ca691f85097f05ea6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d0b360ca691f85097f05ea4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d0b360ca691f85097f05ea7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d0b360ca691f85097f05ea8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d0b360ca691f85097f05eac'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d0b360ca691f85097f05eaa'), 'name': 'William', 'address': 'Central st 954'}

# Sort Descending
Use the value -1 as the second parameter to sort descending.

In [25]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('5d0b360ca691f85097f05eaa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d0b360ca691f85097f05eac'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d0b360ca691f85097f05ea8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d0b360ca691f85097f05ea7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d0b360ca691f85097f05ea4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d0b360ca691f85097f05ea6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d0b3542a691f85097f05e99'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d0b3580a691f85097f05e9e'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d0b360ca691f85097f05ea3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d0921ced8e8944e7feb6715'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b32e4ea2fc73a3b472e79'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b32f6ea2fc73a3b472e7e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b330ca691f85097f05e98'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b357ba691f85097f05e9d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b360ca691f85097f05ea2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d0b360ca691f85097f05eab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d0b360ca691f85097f05ea5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d0b360ca691f85097f05ea9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d0b360ca691f85097f05ea1'), 'name': 'Amy', 'address': 'Apple st 652'}

# Delete Document
To delete one document, we use the delete_one() method.

The first parameter of the delete_one() method is a query object defining which document to delete.

Note: If the query finds more than one document, only the first occurrence is deleted.

In [26]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

# Delete Many Documents
To delete more than one document, use the delete_many() method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

In [27]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

2  documents deleted.

# Update Collection
You can update a record, or document as it is called in MongoDB, by using the update_one() method.

The first parameter of the update_one() method is a query object defining which document to update.

Note: If the query finds more than one record, only the first occurrence is updated.

The second parameter is an object defining the new values of the document.

In [28]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d0921ced8e8944e7feb6715'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b32e4ea2fc73a3b472e79'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b32f6ea2fc73a3b472e7e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b330ca691f85097f05e98'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b3542a691f85097f05e99'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d0b357ba691f85097f05e9d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d0b3580a691f85097f05e9e'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d0b360ca691f85097f05ea1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d0b360ca691f85097f05ea3'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5d0b360ca691f85097f05ea4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d0b360ca691f85097f05ea5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d0b360ca691f85097f05ea7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d0b360ca691f85097f05ea8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d0b360ca691f85097f05ea9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d0b360ca691f85097f05eaa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d0b360ca691f85097f05eab'), 'name': 'Chuck', 'address': 'Main Road 989'}